/* some default styles to make the view more native like */
:root {
  --text-color: black;
  --bg-color: #F6EEED;
  --scroll-color: #ebe2e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --bg-color: #18181C;
    --scroll-color: #18181C;
  }
}

.material-icons {
  margin-bottom: 4px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  appearance: none;
  background:none;
  border: none;
  color: var(--text-color);
  -webkit-appearance: none;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.material-icons:hover {
  transform: scale(1.12);
}

input {
  border: none;
  padding: 4px 6px;
}

html {
  box-sizing: border-box;
  background: transparent;
  color: var(--text-color);

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

#icons {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

button {
  display: block;
  text-align: center;
  width: 48px;
  height: 48px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--scroll-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--text-color);
  border: 3px solid var(--scroll-color);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}